<div class="flex flex-wrap bg-gray-400">
  <div class="flex flex-wrap bg-blue-200 rounded-xl w-full p-16 mx-auto
    sm:auto ">
    <span class="font-semibold text-2xl ">Give Review</span>
    <form [formGroup]="contactForm" (ngSubmit)="submit()" class="w-full">
      <!-- <div class="flex flex-col mb-4">
        <label for="name" class="text-xl">Name:</label>
        <input formControlName="username" type="text" class="border
          rounded-lg px-2
          py-2 " placeholder="Your Name" required>
        <mat-error *ngIf="!contactForm.get('username')?.pristine &&
          contactForm.get('username')?.hasError('required')"
          class="text-red-600">
          Username is required*
        </mat-error>
      </div> -->
      <div class="flex flex-col mb-4">
        <label for="message" class="text-xl">Feedback/Suggestion:</label>
        <textarea formControlName="message" id="message" class="border
          rounded-lg px-2 py-2"
          rows="4" placeholder="Your Name" required></textarea>
        <mat-error *ngIf="!contactForm.get('message')?.pristine &&
          contactForm.get('message')?.hasError('required')"
          class="text-red-600">
          Message is required*
        </mat-error>
      </div>
      <div class="flex justify-center">
        <button type="submit" [disabled]="!contactForm.valid"
          [class]="!contactForm.valid?'bg-gray-400
          text-black':'bg-green-500 text-white'" class=" font-bold
          shadow-xl
          py-2 px-4 rounded-lg">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- SELECT f.Messsage, u.username, u.email FROM `feedback` f LEFT JOIN USER u ON f.user_id = u.id;   -->
<!-- <app-footer></app-footer> -->