<div>
    <nav class="flex flex-wrap bg-white px-4 py-2
        mx-3">
        <img src="../../assets/logo.png" class="h-20 w-20">
        <div class="flex flex-col justify-center items-center">
            <span class="text-black text-xl text-[15px]
                items-center font-semibold">SuuMaya</span>
            <p
                class="text-base">Ethnic
                Wear
                Rental Service</p>
        </div>
        <button type="">

        </button>
        <ul class="flex flex-wrap space-x-4 m-auto justify-center items-center
            gap-5"
            id="menu">
            <li>
                <a routerLink="/home" routerLinkActive="active text-orange-500
                    p-2 text-lg" [routerLinkActiveOptions]="{exact: true}"
                    class=" hover:text-orange-500
                    text-lg sm:text-2xl font-sans sm:font-semibold ">Home</a>
            </li>

            <li>
                <a routerLink="/about" class="text-black
                    hover:text-orange-500 text-lg sm:text-2xl font-sans
                    sm:font-semibold
                    ">Rent
                    By Type</a>
            </li>
            <li>
                <a routerLink="/about" class="text-black text-lg
                    hover:text-orange-500 sm:text-2xl font-sans
                    sm:font-semibold
                    ">About</a>
            </li>
            <li>
                <a routerLink="/contact" class="text-black text-lg
                    hover:text-orange-500 sm:text-2xl font-sans
                    sm:font-semibold
                    ">Contact
                    Us</a>
            </li>
            <li class="items-end my-auto text-lg "><a
                    routerLink="/login" class="text-black
                    hover:text-orange-500 text-lg sm:text-2xl font-sans
                    sm:font-semibold
                    ">Login</a>
            </li>
            <li class="items-end my-auto text-lg "><a
                    routerLink="/signup" class="text-black
                    hover:text-orange-500 text-lg sm:text-2xl font-sans
                    sm:font-semibold
                    ">Sign Up</a>
            </li>
        </ul>
    </nav>
</div>
