<div>
    <nav class="flex flex-wrap bg-black px-2 py-2
        mx-6">
        <img src="../../assets/logo.png" class="h-14 w-14">
        <span class="text-white text-xl my-auto text-[15px] mr-2 gap-0">SuuMaya<br><small
                class="text-[10px]">Ethnic
                Wear
                Rental Service</small></span>
        <label for="menu-toggle" class="menu-icon">
            <span>Home</span>
            <span>Rent By Occasion</span>
            <span>Rent By Type</span>
        </label>
        <ul class="flex flex-wrap space-x-4 m-auto justify-center gap-5"
            id="menu">
            <li>
                <a routerLink="/home" routerLinkActive="!text-green-500
                    text-black
                    p-2 text-lg"
                    class="text-white hover:text-orange-500
                    text-lg ">Home</a>
            </li>
            <li>
                <a routerLink="/rent" class="text-white hover:text-orange-500
                    text-lg">Rent
                    By Occasion</a>
            </li>
            <a routerLink="/about" class="text-white text-lg
                hover:text-orange-500
                ">Rent
                By Type</a>
            <!-- <li>
                <a routerLink="/" class="text-white text-lg
                    hover:text-orange-500
                    " routerLinkActive=" bg-green-500
                    !text-red-500">Latest
                    Arrivial</a>

            </li> -->
            <li>
                <a routerLink="/" class="text-white text-lg
                    hover:text-orange-500
                    ">Contact
                    With Us</a>
            </li>
            <li class="items-end text-white my-auto text-lg mr-5"><a
                    routerLink="/login" class="text-white text-lg
                    hover:text-orange-500
                    ">Login</a>
            </li>
            <li class="items-end text-white my-auto text-lg mr-5"><a
                    routerLink="/signup" class="text-white text-lg
                    hover:text-orange-500
                    ">Sign Up</a>
            </li>

        </ul>
    </nav>
</div>
