<!-- <div class="mx-6">
    <div class="bg-black flex flex-row flex-wrap">
        <div class="m-6 flex flex-col">
            <img src="../../assets/logo.png" alt="" class="md:h-28 md:w-28 h-10
                w-10 sm:h-13 sm:w-13">
            <span class="italic text-white text-[15px] sm:text-xl md:text-4xl
                md:font-bold">SuuMaya</span>
            <p class="text-white my-6 ">Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
                Laudantium id cum tempora mollitia voluptate vero accusantium
                veritatis amet, numquam, unde, error cumque facere minima libero
                molestias similique ratione repellat? Amet.</p>
        </div>
        <div class="text-white">
            ff
        </div>
        <div class="text-white">
            df
        </div>
    </div>
</div> -->
<!-- footer.component.html -->
<footer class=" bg-gray-800 text-white p-4 mx-6">
    <div class="gap-6 flex justify-between">
        <div class="text-lg flex flex-col w-[40%]">
            <span class="text-lg sm:text-xl md:text-2xl font-bold">SuuMaya</span>
            <img src="../../assets/logo.png" alt="" class="h-16 w-16 sm:h-20
                sm:w-20 md:h-32 md:w-32">
            <p>How much do wedding lehengas cost? A dulhan lehenga can range
                anywhere from Rs. 15,000 to Rs. 4 lakhs or more depending on
                factors
                like size, style, designer, customization, and others.</p>
        </div>
        <!-- <div class=" flex space-x-4"> -->
        <div class="w-[30%] font-bold flex flex-col">
            <a routerLink="/home" class="hover:text-gray-500 text-lg sm:text-xl
                md:text-2xl">Keep Connected</a>
            <div class="flex flex-col">
                <a href="https://www.instagram.com/">Facebook

                </a>
                <a href="https://www.instagram.com/"><mat-icon
                        svgIcon="instagram" class="custom-instagram-icon"></mat-icon>
                    Instagram</a>
                <a href="https://www.instagram.com/">
                    <mat-icon svgIcon="facebook"></mat-icon>

                    Twitter</a>
                <mat-icon svgIcon="home"></mat-icon>

            </div>
        </div>
        <div class="w-[30%] font-bold">
            <a routerLink="/about" class="hover:text-gray-500 text-lg sm:text-xl
                md:text-2xl">Contact Information</a>
        </div>
    </div>
    <!-- </div> -->
</footer>