<div class="mx-6">
    <div class="bg-black flex flex-row flex-wrap">
        <div class="m-6 flex flex-col">
            <img src="../../assets/logo.png" alt="" class="md:h-28 md:w-28 h-10
                w-10 sm:h-13 sm:w-13">
            <span class="italic text-white text-[15px] sm:text-xl md:text-4xl
                md:font-bold">SuuMaya</span>
            <p class="text-white my-6 ">Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
                Laudantium id cum tempora mollitia voluptate vero accusantium
                veritatis amet, numquam, unde, error cumque facere minima libero
                molestias similique ratione repellat? Amet.</p>
        </div>
        <div class="text-white">
            ff
        </div>
        <div class="text-white">
            df
        </div>
    </div>
</div>
