<footer class=" bg-gray-800 text-white pt-4 justify-items-end ">
    <div class=" flex flex-col sm:flex-row flex-wrap
        sm:gap-2 justify-between">
        <div class="text-lg flex flex-col md:gap-5 w-[35%] px-2 sm:px-5">
            <span class=" sm:font-bold
                text-sm sm:text-lg
                md:text-3xl hover:text-pink-400 font-medium">SuuMaya</span>
            <img src="../../assets/logo.png" alt="" class="h-11 w-11
                sm:h-24
                sm:w-24 md:h-36 md:w-36 ">
            <!-- <p class="sm:font-[10px] text-sm">Lorem ipsum dolor sit amet 
                consectetur
                adipisicing elit. Ullam
                inventore necessitatibus officiis aspernatur provident, velit
                fugit consectetur dolor doloremque laborum eum accusamus itaque
                odio possimus placeat modi omnis ad est. Perspiciatis hic
               </p> -->
        </div>
        <div class="flex sm:flex-col flex-row w-[30%] sm:gap-5 gap-5 p-2
            ">
            <a routerLink="/about" class="
                sm:font-bold
                text-sm sm:text-lg
                md:text-3xl hover:text-pink-400 font-medium ">Contact Info</a>
            <div class="flex sm:gap-2 md:gap-3 gap-3 flex-wrap">
                <img src="../../assets/location.png" alt="" class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="sm:font-medium text-[9px] sm:text-sm md:text-xl ">Pokhara
                    Newroad</span>
            </div>
            <div class="flex gap-3 flex-wrap">
                <img src="../../assets/phone.png" alt="" class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="sm:font-medium text-[9px] sm:text-sm md:text-xl">+977
                    9827178584</span>
            </div>
            <a href="https://mail.google.com/mail/u/0/?hl=en#inbox"
                target="_blank" rel="noopener noreferrer" class="flex gap-3
                flex-wrap">
                <img src="../../assets/mail.png" alt="" class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="sm:font-medium text-[9px] sm:text-sm md:text-xl">suumaya@gmail.com</span>
            </a>
        </div>
        <div class="w-[30%] flex sm:flex-col flex-row gap-5 p-2 ">
            <a routerLink="/home" class=" sm:font-bold
                text-[12px] sm:text-lg
                md:text-3xl hover:text-pink-400">Keep Connected</a>

            <a href="https://www.facebook.com/"
                target="_blank" rel="noopener noreferrer" class="flex sm:gap-3
                gap-1.5
                flex-wrap ">
                <img src="../../assets/facebook.png" alt="" class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="sm:font-medium text-[9px] sm:text-sm
                    md:text-xl">Facebook</span>
            </a>
            <a href="https://www.instagram.com/sunita.adhikary/"
                target="_blank" rel="noopener noreferrer" class="flex sm:gap-3
                gap-1.5
                flex-wrap">
                <img src="../../assets/insta.png" alt=""
                    class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="sm:font-medium text-[9px] sm:text-sm md:text-xl">Instagram</span>
            </a>
            <a href="https://www.facebook.com/"
                target="_blank" rel="noopener noreferrer" class="flex sm:gap-3
                gap-1.5
                flex-wrap">
                <img src="../../assets/twiter.png" alt="" class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="justify-center sm:font-medium text-[9px] sm:text-sm
                    md:text-xl">Twitter</span>
            </a>
            <a href="https://www.linkedin.com/feed/"
                target="_blank" rel="noopener noreferrer" class="flex sm:gap-3
                gap-1.5
                flex-wrap">
                <img src="../../assets/linkedin.png" alt="" class="sm:h-12
                    sm:w-12 h-8 w-8">
                <span class="sm:font-medium text-[9px] sm:text-sm md:text-xl">Linkedin</span>
            </a>
        </div>
        <hr class="w-full sm:my-4 my-2 bg-gray-200 border-1.5 dark:bg-gray-700">
        <div class="flex justify-center align-center mx-auto">
            <span class="text-center sm:mb-4 mb-2 text-xs sm:text-lg">&copy; {{
                2023}}:SuuMaya.All
                Rights
                Reserved.
            </span>
        </div>
    </div>
</footer>