<div class="sm:p-4 p-2">
    <div class="sm:px-4 sm:py-4">
        <span class="text-[#c44055] text-xl font-semibold font-poppins">Feedback</span>
    </div>
    <div class=" shadow-black
        bg-gray-100
        border border-gray-400 rounded-lg ">
        <div class="overflow-x-scroll md:overflow-x-scroll-hidden flex
            justify-evenly mx-auto items-center">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="font-normal
                        sm:font-semibold text-sm sm:text-lg"> ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="font-normal
                        sm:font-semibold text-sm sm:text-lg"> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef class="font-normal
                        sm:font-semibold text-sm sm:text-lg"> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.message}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="font-normal
                        sm:font-semibold text-sm sm:text-lg"> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSize]="10"
            [length]="totalElements" class="text-[10px] font-[7px] sm:text-lg
            sm:font-medium">
        </mat-paginator>
    </div>
</div>
