<div class="flex flex-col gap-7 sm:gap-9 md:gap-16 mx-6 my-4">
  <div>
    <span class="font-bold text-2xl mt-12 text-[#f04a68]">Product List</span>
  </div>
  <form>
    <div class="mt-12">
      <label for="categories"></label>

      <select name="categories" id="categories"
        [formControl]="categoryCtrl">
        <option *ngFor="let category of categories" value="{{category}}"
          class="font-thin text-base text-[#f04a68]
          ">
          {{category}}
        </option>
      </select>

    </div>
  </form>
  <div class="flex justify-end pb-3 mr-5">
    <a routerLink="../product/add">
      <button class="bg-[#f04a68] text-white hover:bg-gray-300
        focus:outline-none focus:bg-indigo-600 items-end
        font-poppins
        text-2xl px-5 py-3 rounded-lg">Add Product</button>
    </a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 m-6">
    <div *ngFor="let product of products$ |async" class="bg-[#ee7777]
      p-4
      shadow-md">
      <img src="{{ (product?.images | image)[0] }}" alt="{{
        product.name
        }}"
        class="
        md:h-[250px] md:w-[300px] sm:h-[50px] sm:w-[80px]
        object-cover">
      <h3 class="text-xl font-bold text-white">{{ product.name }}</h3>
      <span class="text-lg font-bold text-white">{{product.price}}</span>
      <span class="text-lg font-bold text-white">Size:{{product.size}}</span>
      <p class="text-white">{{ product.detail}}</p>
      <div class="flex justify-between">
        <a [routerLink]="'../product/edit'">
          <button type="button" class="bg-black text-white
            hover:bg-blue-700
            font-bold
            py-1.5 rounded-md
            px-3 mt-3" (click)="edit(product.id)">Edit</button>
        </a>
        <a [routerLink]="'../product/detail'">
          <button type="button" class="bg-red-400
            hover:bg-green-500
            text-white
            font-bold
            py-1.5 rounded-md
            px-3 mt-3">View More</button>
        </a>
      </div>
    </div>
  </div>
  <div class="">
    <mat-paginator [pageSizeOptions]="[12, 24, 120]"
      [length]="totalProducts" [pageSize]="pageSize"
      (page)="onPageChange($event)"></mat-paginator>
  </div>
