<app-header></app-header>
<div class="flex flex-wrap md:mx-6 sm:mx-4 mx-2 bg-[#E2D1F9] ">
  <div class=" w-full sm:pt-16 pt-6
    text-center sm:px-5 px-2">
    <div class="flex sm:flex-row flex-col sm:gap-6 ">
      <div class="flex flex-col gap-7">
        <span class="italic md:text-6xl sm:text-4xl text-2xl
          sm:font-bold font-medium md:font-extrabold sm:my-5 ">About Us</span>
        <p class="text-center sm:text-base sm:font-medium mx-auto text-xs
          font-thin text-black">We’re changing the behaviours of fashion-lovers
          everywhere, and believe everyone should have access to high-quality
          fashion…SuuMaya is giving lenders the chance to monetise their pieces,
          and renters the chance to shine in them for a fraction of their retail
          price. <br>
          Many people struggle to afford high-quality clothing and may feel
          pressure to constantly update their wardrobes to keep up with changing
          fashion trends. Rental clothing offers a solution to both of these
          problems by providing affordable and sustainable clothing options that
          can be rented and returned as needed. Renting a website can be a
          cost-effective option, especially for individuals or businesses with
          limited budgets. Our renting website provides flexibility in terms of
          scalability and upgrades. If we want to add new features to our
          website, we can upgrade our rental plan or switch to a different
          template or design without much hassle.This flexibility allows us to
          adapt to evolving market trends and customer preferences.


        </p>
      </div>
      <img src="../../assets/lehenga4.jpg" class="flex-shrink-0
        sm:w-[600px] sm:h-[500px] w-[450px] h-[350] object-cover rounded-md
        my-auto md:mb-9 sm:mb-6 mb-4 ">
    </div>
  </div>
</div>
<div class="bg-[#3d837f] text-white flex flex-col md:mx-6 sm:mx-4 mx-2 md:gap-4
  sm:gap-2 gap-1
  sm:py-6
  py-4">
  <div class="flex flex-col mx-auto gap-3 text-center px-2">
    <img src="../../assets/select.png" alt="" class="sm:h-[55px]
      sm:w-[50px] h-[30px] w-[26px] mx-auto">
    <span class="md:font-bold sm:text-2xl sm:mx-auto text-base font-normal
      text-center">1.MAKE
      YOUR CHOICE</span>
    <p class="sm:text-lg sm:font-medium sm:mx-auto text-sm font-extralight">Browse
      trough our collection and
      pick an
      outfit
      according to your preference and choices with
      ease.</p>
  </div>
  <div class="flex flex-col mx-auto gap-3 text-center px-2">
    <img src="../../assets/login.png" alt="" class="sm:h-[55px]
      sm:w-[50px] h-[30px] w-[26px] mx-auto">
    <span class="md:font-bold sm:text-2xl sm:mx-auto text-base font-normal">2.LOGIN/SIGINUP</span>
    <p class="sm:text-lg sm:font-medium sm:mx-auto text-sm font-extralight">Log
      in to your account for further processing.</p>
  </div>
  <div class="flex flex-col mx-auto gap-3 text-center px-2 ">
    <img src="../../assets/cart.png" alt="" class="sm:h-[55px]
      sm:w-[50px] h-[30px] w-[26px] mx-auto">
    <span class="md:font-bold sm:text-2xl sm:mx-auto text-base font-normal">3.RENT
      YOUR CHOICE</span>
    <p class="sm:text-lg sm:font-medium sm:mx-auto text-sm font-extralight">Fill
      the detail of your dress and pay via khalti.</p>
  </div>
  <div class="flex flex-col mx-auto gap-3 text-center px-2">
    <img src="../../assets/deliver.png" alt="" class="sm:h-[55px]
      sm:w-[50px] h-[30px] w-[26px] mx-auto">
    <span class="md:font-bold sm:text-2xl sm:mx-auto text-base font-normal">4.DELIVERY
      TO YOUR DOORSTEP</span>
    <p class="sm:text-lg sm:font-medium sm:mx-auto text-sm font-extralight">Sit
      back and relax we will deliver your order
      right after you check out at your place.
      Don’t worry the pick is on us too!</p>
  </div>
</div>
<app-footer></app-footer>