<app-header></app-header>
<div class="flex flex-wrap mx-6 bg-gray-200 ">
    <div class=" w-full pt-36
        text-center mb-6 px-14 ">
        <span class="italic text-7xl text-pink-400 font-extrabold">About Us</span>
        <div class="flex flex-wrap flex-row">
            <p class="text-center text-xl font-medium mt-7">Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Neque vero facilis sint
                soluta. Atque aut non velit, eos nihil quia sint dolorum
                voluptas esse maxime labore distinctio in incidunt quo!</p>
            <img src="../../assets/about.jpg" class="flex-shrink-0">
        </div>
    </div>
</div>