<app-header></app-header>
<div *ngIf="productDetails$ | async as product" class="flex flex-col
    flex-wrap sm:mx-auto sm:flex w-full sm:py-10 sm:px-7 px-2
    py-5">
    <div class="bg-gray-200 sm:w-[75%] sm:py-7 sm:px-4 px-1
        rounded-md sm:mx-auto h-full">

        <div class=" flex sm:flex-row flex-col md:gap-2 sm:gap-1 gap-0.5
            object-fill w-full h-full">
            <div class="sm:w-[50%] ">
                <img class="hover:cursor-zoom-out" src="{{ product.image |
                    appendS3 }}"
                    alt="{{
                    product.name
                    }}"
                    class="md:w-full w-full object-fit h-full
                    justify-stretch p-1 rounded-md
                    ">
            </div>
            <form [formGroup]="detailForm"
                class="sm:w-[50%] h-full ">
                <div class="flex flex-col
                    bg-gray-200 sm:px-6 sm:py-4 px-2 py-2 sm:gap-5 gap-3
                    h-full border-4 border-white rounded-lg">

                    <div class="flex justify-end">

                        <span *ngIf="product.available" class="sm:font-normal
                            font-thin
                            text-[10px] sm:text-xs sm:px-1 px-0.5 sm:py-0.5
                            rounded-md text-white
                            bg-green-400">Available</span>

                        <span *ngIf="!product.available" class="sm:font-normal
                            font-thin
                            text-[10px] sm:text-xs sm:px-1 px-0.5 sm:py-0.5
                            rounded-md text-white
                            bg-red-500"> Not
                            Available</span>
                    </div>
                    <span class="sm:font-bold font-medium md:text-3xl
                        sm:text-2xl text-lg
                        text-black mx-auto md:mb-3 sm:mb-2 mb-1">{{product.name}}</span>
                    <div class="flex flex-col sm:gap-3 md:gap-6 mx-[20px]
                        my-auto">
                        <div class="flex gap-2 place-items-center">
                            <h2 class="sm:font-bold font-semibold sm:text-xl
                                text-sm
                                text-black">Detail:</h2>
                            <p class=" font-light text-base text-black">{{product.details}}</p>
                        </div>
                        <div class="flex text-black gap-2 ">
                            <span class="sm:font-bold font-semibold sm:text-xl
                                text-sm
                                text-black">Size:</span>
                            <div *ngFor="let size of size" class="my-auto">
                                <input name="size" value="{{size}}"
                                    formControlName="size" type="radio"
                                    required>
                                <label for="{{size}}">{{size}}</label><br>
                            </div>
                        </div>
                        <div class="flex gap-2 ">
                            <span class="sm:font-bold font-semibold sm:text-xl
                                text-sm
                                text-black">Quantity: </span>

                            <input matInput type="number"
                                class=" "
                                placeholder="Min
                                value"
                                formControlName="quantity">


                        </div>
                        <div class="flex gap-2 ">
                            <span class="sm:font-bold font-semibold sm:text-xl
                                text-sm
                                text-black">Price:</span>
                            <div class="my-auto text-red-600 font-extrabold
                                text-xl"> {{
                                (detailForm.get('quantity')?.value ?? 1) *
                                (product.price)
                                }}
                            </div>
                        </div>
                        <div class="flex gap-2 ">
                            <span class="sm:font-bold font-semibold sm:text-xl
                                text-sm
                                text-black
                                ">Category:</span>
                            <div class="my-auto ">{{product.category}}</div>
                        </div>
                    </div>
                    <div class="flex flex-col justify-end items-end gap-2">
                        <!-- <button class="bg-green-400
              sm:font-bold text-black
              sm:px-3 sm:py-1.5 px-1.5 py-0.5 text-sm
              font-normal
              sm:text-lg bg-green
              rounded-md w-fit self-end">Pay Here</button> -->
                        <button
                            (click)="makePayment()"[disabled]="!product.available
                            ||
                            !detailForm.valid"
                            [class]="!product.available||!detailForm.valid?
                            'bg-gray-400 text-black' : 'bg-[#f65f5f]
                            text-white'" class="sm:font-extrabold text-black
                            w-fit
                            sm:px-3 sm:py-1.5 px-1.5 py-0.5 text-base
                            font-medium
                            sm:text-xl
                            rounded-md self-end">Rent</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>