
<div class=" max-w-4xl flex flex-row mx-auto
    justify-between
    rounded-lg
    border-2
    border-black
    mt-5">
    <div class="flex flex-col gap-8 mx-auto">
        <img class="h-[100px] w-[100px] self-center" src="../../assets/logo.png"
            alt="">
        <h1 class="text-3xl ">Login To Your Account
        </h1>
        <form [formGroup]="userForm" (ngSubmit)="submit()" class="flex w-[50%]
            flex-wrap
            flex-col
            rounded-3xl sm:flex
            gap-6
            justify-center
            mx-auto sm:w-full
            [&mat-form-field]:mx-auto [&mat-form-field]:flex-wrap">

            <div class="flex flex-col gap-2">
                <span class="text-xl font-semibold">
                    Username:
                </span>
                <input class="p-2 border border-blue-500 rounded-3xl "
                    type="text" formControlName="username"
                    name="username" placeholder="sunita" id="" required="">
            </div>

            <div class="flex flex-col gap-2 ">
                <span class="text-xl font-semibold">
                    Password
                </span>
                <input class=" p-2 border border-blue-500 rounded-3xl "
                    type="password" formControlName="password"
                    placeholder="password" id="" required>
            </div>
            <button mat-raised-button [disabled]="!userForm.valid"
                [class]="!userForm.valid ? 'bg-gray-800 text-black'
                : 'bg-green-500 text-purple-500'"
                class="rounded-3xl
                text-center p-2 px-6
                self-center
                w-fit"
                type="submit">
                Sign In
            </button>
            <div class="flex flex-col items-center gap-2">
                <span class="text-xl font-semibold mx-auto">
                    New Here?
                </span>
                <a routerLink='/signup'>
                    <!-- <button class="rounded-3xl text-center p-2 px-6
                        place-items-center
                        bg-pink-400 w-fit"
                        type="button">
                        Sign Up
                    </button>-->
                    <button class="rounded-3xl text-center p-2 px-6
                        bg-pink-400" type="button">
                        Sign Up
                    </button>

                </a></div>
        </form>
    </div>
    <div class="w-[50%] ">
        <img src="../../assets/lehenga8.jpg" class="">
    </div>
</div>
<!-- <pre>{{userForm.value | json}}</pre> -->