<div class="sm:mx-6 mx-2 ">
    <div class=" gap-1 sm:gap-3 md:gap-5 sm:mt-3 md:mt-4 ">
        <div class="flex-grow order-2 sm:order-1">
            <img src="../../assets/dresses.png" alt="" class=" w-full h-auto">
        </div>
    </div>
    <div class="flex flex-col md:my-4 sm:my-2 my-1.5 items-end self-end
        justify-items-end
        md:gap-1 sm:gap-0.5 ">
        <label for="categories" class="md:font-semibold md:text-lg
            sm:font-medium font-normal text-sm
            sm:text-lg text-[#120808] self-end">Select your choice</label>
        <select name="categories" id="categories"
            [formControl]="categoryCtrl" class="bg-orange-300 rounded-md
            sm:h-9 h-5 md:w-36 sm:w-28 self-end">
            <option *ngFor="let category of categories" value="{{category}}"
                class="font-thin text-base text-[#d90c32] self-end">
                {{category}}
            </option>
        </select>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 md:gap-6 sm:gap-4
        gap-2 ">
        <div *ngFor="let product of products$ |async" class="bg-[#c8c6c6] md:p-2
            p-1 rounded-md
            shadow-lg ">
            <img src="{{ product.image | appendS3 }}" alt="{{ product.name
                }}"
                class=" object-top
                md:h-[275px] md:w-[310px] sm:h-[70px] sm:w-[90px] h-[230px]
                w-full
                object-cover text-sm text-black pb-1 sm:pb-3 rounded">
            <div class="
                justify-between">
                <span class="sm:font-semibold sm:text-sm underline
                    text-[12px] mb-2">{{product.name}}</span>
            </div>
            <div class="flex justify-between w-full object-cover">
                <div class="flex ">
                    <span class="bg-green-600 text-white text-[8px]
                        sm:text-[12px]
                        font-[8px] px-1 h-fit sm:font-[7px]
                        py-0.5 rounded-md mt-2"
                        *ngIf="product.available">Available</span>
                    <span class="bg-red-600 text-white text-[9px] sm:text-[10px]
                        font-[5px] h-fit mt-2
                        sm:font-thin px-1
                        py-0.5 rounded-md"
                        *ngIf="!product.available"> Not Available</span>
                </div>
                <div class="flex sm:gap-2
                    sm:mt-2 ">
                    <button type="button" class="bg-black hover:bg-green-500
                        text-[9px]
                        sm:px-[4px] text-white font-[5px]
                        px-1 rounded-md w-fit
                        sm:font-thin sm:text-[8px] md:font-[10px]
                        md:text-[11px]"
                        (click)="viewMore(product.id)">View More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <mat-paginator [pageSizeOptions]="[10, 50, 100]"
            [length]="totalProducts" [pageSize]="pageSize"
            (page)="onPageChange($event)"></mat-paginator>
    </div>