/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~ngx-wig/styles/wig.css"; */
@import "~swiper/swiper-bundle.min.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-toolbar {
  @apply bg-gray-800 text-white;
}

mat-sidenav {
  @apply w-64;
}

a[mat-button] {
  @apply px-4 py-2 text-gray-800 hover:bg-gray-200;
}
