<app-header></app-header>
<!-- <div class="mx-6 my-4 relative ">
  <img src="../../assets/group2.jpg" class="w-full h-[700px] object-top
    object-cover opacity-60 hover:opacity-100">
  <span class="absolute flex justify-center text-center
    font-bold g bottom-[30%] left-[33%] text-black w-fit px-3 py-2
    rounded-lg text-5xl underline ">
    RENT.WEAR.REPEAT
  </span>
  <small class="absolute flex justify-center text-center text-black
    font-bold bottom-[25%] left-[29%] w-fit px-2 py-1 pt-7 text-4xl
    rounded-lg ">Outfits On Rent, Memories Forever</small>
</div> -->
<app-products></app-products>
<!-- <div class="grid grid-cols-4 gap-4">
  <div *ngFor="let item of items" class="col-span-4 sm:col-span-2
    md:col-span-1">
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <img class="w-full h-40 object-cover" [src]="item.imageUrl" alt="Product
        Image">
      <div class="p-4">
        <h3 class="text-lg font-semibold mb-2">{{ item.title }}</h3>
        <p class="text-gray-600 mb-2">Price: {{ item.price }}</p>
        <p class="text-gray-800">{{ item.description }}</p>
      </div>
      <div class="p-4 bg-gray-100">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2
          px-4 rounded" (click)="viewMore(item.id)">
          View More
        </button>
      </div>
    </div>
  </div> 
</div>-->
