 <mat-sidenav-container autosize>
    <mat-sidenav mat-sidenav #drawer #sidenav fixedInViewport=""
        [disableClose]="(isNotHandSet$ | async)"
        [mode]="(isNotHandSet$ | async) ? 'side': 'over'" class="min-w-[15%]"
        [opened]="isNotHandSet$ | async">
        <div class="flex flex-col bg-black h-full w-fit rounded-r-3xl
            pt-6 ">
            <mat-list role="list" class="">
                <mat-list-item>
                    <a routerLink="/dashboard/product"
                        routerLinkActive="active
                        text-green-500"
                        class="text-white text-2xl hover:text-blue-500
                        py-2
                        px-4 font-bold">
                        Products
                    </a>
                    <mat-list-item>
                        <ul class="list-disc color-white pl-8">

                            <mat-list-item class="text-purple-800 text-xl
                                hover:text-green-400">
                                <a routerLink="/dashboard/lehenga">
                                    Lehenga
                                </a>
                            </mat-list-item>

                            <mat-list-item class="text-purple-800 text-xl
                                hover:text-green-400">
                                <a routerLink="/dashboard/sari">
                                    Sari
                                </a>
                            </mat-list-item>
                            <mat-list-item class="text-purple-800 text-xl
                                hover:text-green-400">
                                <a routerLink="/dashboard/gown">
                                    Gown
                                </a>
                            </mat-list-item>
                            <mat-list-item class="text-purple-800 text-xl
                                hover:text-green-400">
                                <a routerLink="/dashboard/kurtha">
                                    kurtha
                                </a>
                            </mat-list-item>
                        </ul>
                    </mat-list-item>
                    <a routerLink="/dashboard/order"
                        routerLinkActive="active"
                        class="text-white hover:text-blue-500 py-2
                        px-4 text-2xl font-bold">
                        Order List
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/dashboard/return"
                        routerLinkActive="active"
                        class="text-white hover:text-blue-500 py-2
                        px-4 text-2xl font-bold">
                        Return List
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a routerLink="/settings" routerLinkActive="active"
                        class="text-white hover:text-blue-500 py-2
                        px-4 text-2xl font-bold">
                    </a>
                </mat-list-item>

            </mat-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="flex flex-col ">

            <mat-toolbar>
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="!(isNotHandSet$ | async)
                    ">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
